/* Main scss */
.resources-bank-page {
    /*
    display: grid;
    grid-gap: 60px;
    grid-template-rows: [header-start] max-content [content-start] 1fr;
    grid-template-columns: [aside-start] 35% [content-start] 1fr;
    */

    /* Some fixes */
    .course-modules__list,
    .course-modules {
        margin: 0;
    }

    *::before,
    *::after {
        box-sizing: border-box;
    }

    .white {
        background-color: white;
    }

    .menu--mobile {
        position: absolute;
        display: flex;
        align-items: center;
        left: 15px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    .aside__menu {
        background: url(../images/menu.svg) no-repeat center/21px;
        border: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &__container {
        max-width: 980px;
        width: 100%;
        margin: auto;

        display: grid;
        gap: 0 20px;

        position: relative;
        padding: 70px 0 20px;

        @media (min-width: 992px) {
            gap: 20px 0;
            grid-template-columns: 300px 1fr;
        }
    }

    .intro {
        background: #f8f7f2;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        display: grid;
        grid-template-rows: repeat(3, max-content);
        grid-column: aside-start / span 2;
        grid-gap: 15px;
        padding: 50px 20px;
        justify-content: center;
        align-items: center;
    }
    .aside {
        justify-content: end;
        padding: 0 35px;
        position: relative;

        @media (max-width: 991px) {
            position: fixed;
            z-index: 9999;
            top: 5%;
            left: 5%;

            width: 90%;
            height: 90%;

            background-color: #f1f1f1;

            display: grid;
            align-items: center;
            justify-content: center;

            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;

            &__fixed {
                position: relative;
            }
            &--active {
                visibility: visible;
                opacity: 1;
            }
        }
        @media (min-width: 992px) {
            &__fixed {
                position: fixed;
                width: 230px;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            height: 300px;
            overflow-y: scroll;

            li {
                a {
                    font-size: 14px;
                    padding: 13px 10px;
                    color: #333;
                    display: block;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
        &__close {
            position: absolute;
            cursor: pointer;
            height: 30px;
            width: 30px;
            border: 0;
            top: 20px;
            right: 20px;
            background-color: transparent;

            &:after,
            &:before {
                content: '';
                height: 2px;
                background-color: black;
                width: 20px;
                display: block;
                transform: rotate(45deg);
                position: absolute;
                left: 5px;
            }

            &:after {
                transform: rotate(-45deg);
            }
            @media (min-width: 993px) {
                display: none;
            }
        }
    }
    .content {
        border-left: 1px solid #e0e0e0;
        padding: 0 20px;

        width: 100%;

        @media (min-width: 992px) {
            padding: 0 40px;
        }
    }
}
