.lesson-congratulation-box {
  display: block;
  padding: 30px 70px;
  background: #242C41;

  p {
    color: #FFFFFF;
    font-size: 1.5rem;
  }

  a {
    display: inline-block;
    padding: 1.5rem 2rem;
    border: 0.1rem solid #FFFFFF;
    border-radius: 0.3rem;

    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
  }

  a:hover {
    background: #FFFFFF;
    color: #242C41;
  }
}

.lesson-result {
  &__score__num {
    text-align: center;

    p {
      font-size: 3rem;
      line-height: 3rem;
      margin: 0;
    }

    h4 {
      font-size: 6rem;
      line-height: 6rem;
      margin: 0;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__main-video {

  }

  &__videos {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
  }

  &__video {
    display: inline-block;
    width: 32%;
    margin: 0;
    margin-left: 2%;
    vertical-align: top;

    img {
      max-width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}