.half-circle-spinner {
  * { box-sizing: border-box; }

  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: calc(50%);
  transform: translate(-50%, -50%);

  .circle {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: calc(40px / 10) solid transparent;

      &.circle-1 {
          border-top-color: #3c8dbc;
          animation: half-circle-spinner-animation 1s infinite;
      }

      &.circle-2 {
          border-bottom-color: #3c8dbc;
          animation: half-circle-spinner-animation 1s infinite alternate;
      }
  }

  
  &--inline {
      width: 20px;
      height: 20px;
      position: relative;
      top: unset;
      left: unset;
      transform: translate(0, -2px);
      margin-left: 10px;

      .circle {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: calc(20px / 10) solid transparent;
      }
  }

  &.spinner--table { position: fixed; }
}


@keyframes half-circle-spinner-animation {
  0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}