.grid {
  display: block;
  margin: 0 auto;
}

.grid--full {
  width: 100%;
}

.grid--w950 {
  max-width: 97rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/**
 * Grid Flex
 */
.grid--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex--space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex--align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}