.masthead {
  background: $brand-white;
  position: relative;
  z-index: 20;
  color: $brand-grey-light;
  font-size: 1.4rem;

  a {
    color: $brand-grey-light;
  }

  &__left {
    min-height: 5rem;
    
    @media only screen and (max-width: $mobile) {
      margin-right: auto;
    }
  }

  &__right {
    min-height: 5rem;
  }

  &__logo {
    padding: 0.5rem 1.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &__logo-link {
    font-family: $headings-font-family-light;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $brand-grey-light;
    background: url('../images/icons/logo.svg') no-repeat center left / 3rem auto;
    padding: 0.5rem 0 0.5rem 4rem;
    line-height: 2rem;

    &:hover {
      color: $brand-grey-light;
    }
  }

  &__classes {
    position: relative;
    padding: 0.5rem 2.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 0.1rem solid $brand-grey-light-variant;

    @media only screen and (max-width: $mobile) {
      border: 0;
    }

    &-link {
      font-family: $headings-font-family-light;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $brand-grey-light;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 3rem auto;
      background-image: url('../images/icons/logo.svg');
      padding: 0.5rem 0 0.5rem 4rem;
      line-height: 2rem;

      &:hover {
        color: $brand-grey-light;
      }

      &--active {
        padding-right: 2rem;
        padding-left: 4.5rem;
        position: relative;

        &:after {
          content: "";
          width: 1.5rem;
          height: 100%;
          display: block;
          background: url('../images/icons/icon--arrow-down.svg') no-repeat center;
          position: absolute;
          right: -1rem;
          top: 0;
        }
      }

      &--locked {
        position: relative;
        background-color: #d2d2d2;

        &:after {
          content: "";
          width: 1.5rem;
          height: 100%;
          background: url(../images/icons/icon--lock.svg) no-repeat center/1.2rem auto;
          position: absolute;
          right: 1rem;
          top: 0;
        }
      }
    }

    &-wrap {
      display: none;
      position: absolute;
      top: 5.1rem;
      right: 0;
      padding-top: 0.6rem;
      width: 29rem;
      max-width: 100%;
      border-radius: 0.3rem;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.6rem 0.6rem 0.6rem;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: 0;
        right: 1.8rem;
        z-index: 2;
      }
    }

    &-list {
      overflow: hidden;
      border-radius: 0.3rem;
      box-shadow: 0 0 1rem #555;
      background: #fff;
    
      &__item {
        width: 100%;

        a {
          background-repeat: no-repeat;
          background-position: 1.5rem center;
          background-size: 3rem auto;
          background-image: url('../images/icons/logo.svg');
          display: block;
          padding: 1rem 3rem 1rem 6rem;
          border-bottom: 0.1rem solid #dadada;
          color: #928780;
          font-size: 1.4rem;
          height: auto;

          &:hover {
            background-color: #f6f6f6;
            color: #928780;
          }
        }

      }    
    }
  }

  &__main-links {
    
    a {
      padding: 1rem 1.5rem  0.5rem;
      border-bottom: 0.6rem solid transparent;

      &:hover,
      &.active {
        border-bottom: 0.6rem solid $brand-yellow;
      }
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  .list__item {
    padding: 0.5rem 1.5rem;
  }

  &__user {
    border-left: 0.1rem solid $brand-grey-light-variant;

    .list--inline {
      position: relative;
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__user-name {
    position: relative;
    top: 0.2rem;
  }

  &__user-avatar {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    background: $brand-grey-light-variant;
    border: 0.2rem solid #7ac173;
    vertical-align: middle;
    margin: 0 1rem;
    color: $brand-white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.2rem;
    font-style: normal;
  }

  &__notifications {
    border-left: 0.1rem solid $brand-grey-light-variant;
    padding: 0.5rem 1.5rem;
    position: relative;
  }
  
  &__notifications-outer-wrap {
    display: none;
    position: absolute;
    padding-top: 0.6rem;
    top: 5.1rem;
    right: -3rem;
    width: 29rem;
    height: 24rem;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.6rem 0.6rem 0.6rem;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: 0;
      right: 4.8rem;
      z-index: 2;
    }
  }

  &__notifications-wrap {
    position: relative;
    width: 100%;
    max-height: 24rem;
    overflow: hidden;    
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem #555;
    background: #fff;
    border-radius: 0.3rem;
  }

  &__notifications-list{    

    &__item {
      width: 100%;

      a {
        display: block;
        padding: 1rem 2rem;
        border-bottom: 0.1rem solid #dadada;
        color: #928780;
        font-size: 1.4rem;

        &:hover {
          background: #f6f6f6;
          color: #928780;
        }
      }

    }    
  }

  &__calendar {
    border-left: 0.1rem solid $brand-grey-light-variant;

    a {
      padding: 0.5rem 1.5rem 0;
      border-bottom: 0.6rem solid transparent;

      &:hover {
        border-bottom: 0.6rem solid $brand-yellow;
      }

      &.active {
        border-bottom: 0.6rem solid $brand-yellow;
      }
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__progress {
    border-left: 0.1rem solid $brand-grey-light-variant;
    padding: 0.5rem 1.5rem;

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  .icon--calendar {
    display: block;
    width: 2rem;
    height: 2rem;
    background: url('../images/icons/icon--calendar.svg') no-repeat center;
  }

  .icon--notification {
    display: block;
    width: 2rem;
    height: 2rem;
    background: url('../images/icons/icon--notification.svg') no-repeat center;
  }
}

.icon--facebook {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  background: url('../images/icons/icon--fb.svg') no-repeat center / 2rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.dropdown-menu-wrap {
  display: none;
  position: absolute;
  padding-top: 0.6rem;
  top: 5.1rem;
  right: 0.5rem;
  width: 16rem;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.6rem 0.6rem 0.6rem;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: 0;
    right: 3rem;
    z-index: 2;
  }
}

.dropdown-menu {
  background: $brand-white;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 1rem #555;
  border-radius: 0.3rem;

  .list__item {
    padding: 0;
    width: 100%;

    a {
      display: block;
      padding: 1rem 2rem;
      border-bottom: 0.1rem solid $brand-grey-light-variant;
      color: $brand-grey-light;
      font-weight: 700;
      font-size: 1.4rem;

      &:hover {
        background: $brand-white-dark;
        color: $brand-grey-light;
      }
    }

    &:last-of-type {

      a {
        border-bottom: none;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &__show {
    left: 0;
  }

  @media only screen and (min-width: $not-mobile) {
    left: -100% !important;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 21rem;
    height: 100%;
    background: #fff;
    z-index: 100;
    border-right: 0.1rem solid #dadada;
  }

  &__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem;

    li {
      padding: 1rem 0;
    }

    a {
      font-size: 1.4rem;
      font-weight: 700;
      color: $brand-grey-light;
    }

    .masthead__user-name {
      font-weight: 400;
    }
  }

  &__open {
    display: none;
    width: 2.5rem;
    height: 2rem;
    background: url('../images/icons/mobile-menu.svg') no-repeat center;
    cursor: pointer;
    min-height: 5rem;
    padding: 0 2rem;

    @media only screen and (max-width: $mobile) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  &__close {
    position: absolute;
    right: -5rem;
    width: 5rem;
    height: 5rem;
    top: 0;
    background: url(../images/icons/icon--close.svg) no-repeat center / 2rem;
    cursor: pointer;
  }

  &__logout {
    position: absolute;
    bottom: 4rem;
  }
}