html {
  box-sizing: border-box;
  line-height: 1;
  font-size: 62.5%;
  -ms-text-size-adjust: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-sans-serif;
  background: $body-bg;
  font-size: $font-size-base;
  line-height: $line-height-base;

  &.home {
    background: $brand-white-dark;
  }
}

a {
  color: $brand-dark;
  text-decoration: none;
}

a:hover {
  color: $brand-dark;
}

.list--unstyled, .list--inline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list--inline .list__item {
  display: inline-block;
}

.spacer__top--big,
.grid.spacer__top--big {
  margin-top: 6rem;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
