/* Body*/
$body-bg: #fff;

/* Brands*/
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-dark: #232c40;
$brand-white: #fff;

/* Typography*/
$headings-font-family: "Open Sans", "Brandon Grotesque", sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.6;
$headings-color: $brand-dark;

$font-size-h1: 2.4rem;
$font-size-h2: 30px;
$font-size-h3: 30px;
$font-size-h4: 30px;
$font-size-h5: 30px;
$font-size-h6: 30px;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.4;
$text-color: #636b6f;

