/* Body*/
$body-bg: #ffffff;

/* Brands*/
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$brand-dark: #232c40;
$brand-white: #fff;
$brand-yellow: #ffb80d;
$brand-grey-light: #928780;
$brand-grey-light-variant: #dadada;
$brand-grey: #4a494a;
$brand-grey-super-light: #B4ADA7;
$brand-white-dark: #f6f6f6;
$brand-green: #62D262;

/* Borders */
$border-grey-light: #cfcfcf;
$border-grey: #dcd9d6;
$border-blue: #4d73a9;

/* Typography*/
$headings-font-family: "BrandonBold", "Open Sans", sans-serif;
$headings-font-family-light: "BrandonLight", "Open Sans", sans-serif;
$headings-font-weight: 600;
$headings-line-height: 1.6;
$headings-color: $brand-dark;

$font-size-h1: 2.4rem;
$font-size-h2: 30px;
$font-size-h3: 30px;
$font-size-h4: 30px;
$font-size-h5: 1.6rem;
$font-size-h6: 1.3rem;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.4;
$text-color: #636b6f;

/* Media Breakpoints */
$mobile: 640px;
$mobile-sm: 450px;
$tablet: 768px;
